doctype html
html(lang=fr)
    head
        meta(CHARSET="UFT-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="shortcut icon" href="/images/favicon.ico")
        block title
            title Cols Vosgiens
        block styles
            link(rel="stylesheet" href="/css/global_styles.css")
            link(rel="stylesheet" href="/css/navbar.css")

    body
        include includes/nav.pug
        br

        div(class="container")
            block body
                h2 Cols Vosgiens
                hr