:root {
    --sky-blue: rgb(46,164,189);
}

body {
    background-color: snow;
    font-family: "Tw Cen MT";
    margin: 0;
}

body *:not(nav) {
    margin: 2.5px;
}

h2 {
    text-align: center;
}

table {
    text-align: center;
}